<div class="wishlist-page">
    <div class="wishlist-title">
        <h3>
            <span class="product-title">Product </span>
            <span class="wishlist-title-wish">Wishlist</span>
        </h3>
        <p>Your product wish is our first priority.</p>
    </div>
    <div class="table-info">
        <div class="table-title">
            <div class="">Wishlist</div>
            <button>Shop Now</button>
        </div>
        <div class="table">
            <table class="wishlist-table-container">
                <thead>
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">Date</th>
                        <th scope="col">Price</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody class="wish-empt">
                    <tr class="pro-gl-content">
                        <td><img class="prod-img" src="assets/img/product-images/17_1.jpg" alt="product image"></td>
                        <td><span>Ginger - Organic</span></td>
                        <td><span>05 Feb 2014</span></td>
                        <td><span>$584</span></td>
                        <td><span class="out">Out Of Stock</span></td>
                        <td>
                            <span class="tbl-btn">
                                <a class="gi-btn-2 add-to-cart" href="javascript:void(0)" title="Add To Cart">
                                    <i class="bi bi-cart2"></i>
                                </a>
                                <a class="gi-btn-1 gi-remove-wish btn" href="javascript:void(0)" title="Remove From List">
                                    ×
                                </a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>