<nav class="navbar">
    <div class="navbar-container">
      <div class="navbar-logo">
        <a href="/">
          <img src="assets/images/brandlogo.png" alt="E-commerce Logo" />
        </a>
      </div>
  
      <div class="navbar-search">
        <input
          type="text"
          class="search-input"
          placeholder="Search for products..."
        />
        <button class="search-button">Search</button>
      </div>
  
      <div class="navbar-actions">
        <mat-icon aria-label="User icon" (click)="login()">person</mat-icon>
        <!-- <button class="login-button">Login</button>
        <button class="signup-button">Signup</button> -->
      </div>
    </div>
  </nav>
  