<div class="container-fluid d-flex p-0">
    <div class="logo-section d-flex flex-column align-items-center justify-content-center bg-light shadow" style="width: 20%;">
      <img src="/images/brandlogo.png" alt="Brand Logo" class="img-fluid" style="max-width: 150px;">
    </div>
    <div class="content-section flex-grow-1 d-flex flex-column justify-content-center p-5 bg-white">
      <h1 class="mb-4">Welcome to Our Page</h1>
      <p class="text-muted">This is your folder page content using Bootstrap.</p>
    </div>
</div>
<div class="footer">
    2025 Your Company. All rights reserved.
</div>
  