<div class="cart-sidebar" *ngIf="isOpen">
  <div class="cart-header">
    <h3>My Cart</h3>
    <button class="close-btn" (click)="toggleCart()">&times;</button>
  </div>
  <div class="cart-items">
    @if(cartItems.length > 0){ @for (cart of cartItems; track cart.id) {
    <div class="cart-item">
      <img src="/images/orange-juice.png" alt="Fresh Lichi" />
      <div class="cart-item-details">
        <h4>{{ cart.name }}</h4>
        <span class="span-cart">{{ cart.discount_price }} x {{cart.quantity}} items</span>
      </div>
      <button class="remove-btn" (click)="removeItem(cart.id)">&times;</button>
    </div>
    } }@else{
    <span> Your cart is empty please shop something</span>
    }
  </div>

  <div class="cart-footer">
    <div class="cart-total">
      <p>
        Sub-Total: <span>{{ getSubTotal() | currency: 'INR' }}</span>
      </p>
      <p>
        VAT (10%): <span>{{ getSubTotal() * 0.1 | currency: 'INR' }}</span>
      </p>
      <p class="total">
        Total: <span>{{ getTotal() | currency: 'INR' }}</span>
      </p>
    </div>
    <div class="cart-actions">
      <button class="view-cart" (click)="viewCart()">View Cart</button>
      <button class="checkout" (click)="checkout()">Checkout</button>
    </div>
  </div>
</div>
